body {
  background-color: #f1f5f5;
  color: #575757;
  font-family: Roboto; sans-serif;
  line-height: 2;
  margin: 10%;
}

.header {
  margin-bottom: 150px;
  padding-top: 150px; 
}

img {
  float: right;
  border: 1.5px solid #da735b;


}

.responsive {
  max-width: 100%;
  height: auto;
}

.name { 
  font-size: 70px; 
  color: #444444;
  font-weight: 200;
  line-height: 1;
}

.tagline {
  font-size: 20px;
  padding-bottom: 30px;
  line-height: .5;
}

.secret {
  font-size: 15px;
}

.aboutme {
  font-size: 16px;
  margin-bottom: 150px;
  padding-bottom: 100px; 
}

.subhead1 {
  text-transform: uppercase;
  padding-top: 100px;
  color: #444444;
  font-size: 16px;
  border-bottom: 1.5px solid #575757;
}

.subhead {
  text-transform: uppercase;
  color: #444444;
  font-size: 16px;
  border-bottom: 1.5px solid #575757;
}


.fa-solid {
    color: #da735b;
}

.job {
  font-size: 16px;
  color: #444444;
}

.date {
  font-size: 16px;
  padding-left: 15px;
}

.content {
    font-size: 16px;
    padding-bottom: 10px;
    padding-top: 10px;
}

.content2 {
    font-size: 16px;
    padding-bottom: 10px;
}

* {
  box-sizing: border-box;
}

.column {
  float: left;
  height: 300px;
}

.left {
  width: 30%;
  padding-right: 25px;
}

.right {
  width: 70%;
}



